@import "../../../../../../assets/scss/variables.scss";

.admin-category-add-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .admin-category-wrapper{
        display: flex;
        width: 1300px;

        .admin-category-add-form{
            background: $light-color;
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 80px 40px;
            border: 3px solid $light-color;
        }

        .admin-category-list-box{
            width: 60%;
            padding: 20px 40px;
            border: 3px solid $light-color;

            li{
                color: $gray-color;
                margin: 10px;
                font-size: 25px;
            }
        }
    }
}