@import "../../../../../../assets/scss/variables.scss";

.admin-quiz-list-section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .form-group{
        width: 300px;
        margin-bottom: 50px;

        @media(max-width: 450px){
            width: 100%;
        }
    }

    .admin-quiz-list-wrapper{
        background: $light-color;
        width: 1000px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 80px 40px;

        @media(max-width: 1020px){
            width: 100%;
            padding: 20px;
        }

        table{
            width: 100%;

            .btn{
                display: block;
                margin: 10px 0;
            }

            th{
                background: $main-color;
                font-weight: 700;
                color: $main-color;
            }

            td, th {
                font-size: 18px;
                color: $gray-color;
                border-bottom: 1px solid $light-color;
                text-align: left;
                padding: 8px;
            }
            .cell-hide-mobile{
                @media(max-width: 700px){
                    display: none;
                }
            }
        }
    }
}
